<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a
                {% if '/' == request.path %} 
                class="nav-link active"
                {% else %}
                class="nav-link"
                {% endif %}
                aria-current="page" href="{% url 'index' %}">Home</a>
                <a 
                {% if 'new_blog/' in request.path %} 
                class="nav-link active"
                {% else %}
                class="nav-link"
                {% endif %}
                {% if user.is_authenticated %}
                href="{% url 'new_blog'  %}"
                >New Blog
                {% else %}
                >New Blog
                {% endif %}
                </a>
                <a
                {% if 'about/' in request.path %}
                class="nav-link active"
                {% else %}
                class="nav-link"
                {% endif %}
                href="{% url 'about_blog' %}">About</a>
            </div>
        </div>
            <div class="mx-2 text-white" style="text-transform: capitalize;">
            {% if user.is_authenticated %}
            <a class="text-white" href="{% url 'dashboard' %}">Hello {{user.username}}</a>
            | <a href="{% url 'logout' %}" class="mx-2 text-white">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}" class="mx-2 text-white">signup</a> | <a href="{% url 'login' %}" class="mx-2 text-white">Login</a>
            {% endif %}
            </div>
    </div>
</nav>
{% if 'dashboard/' in request.path %}
<div class="container-fluid bg-info text-center">
    <div class="row py-3">
        <div class="col-md-8 col-md-10 mx-auto">
            <h3 class="my-4 mt-3 text-white">Dashboard {{ user.username | title }}</h3>
        </div>
    </div>
</div>
{% elif 'about/' in request.path %}
<div class="container-fluid bg-info text-center">
    <div class="row py-3">
        <div class="col-md-8 col-md-10 mx-auto">
            <h3 class="my-4 mt-3 text-white">About Us</h3>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid bg-info text-center">
    <div class="row py-3">
        <div class="col-md-8 col-md-10 mx-auto">
            <h3 class="my-4 mt-3 text-white">List Blogs</h3>
            <p class="text-light">We share blogs your here</p>
        </div>
    </div>
</div>
{% endif %}
